@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as vars;

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding-block: fn.spacing();
    transition: transform .5s ease, opacity .5s ease;

    &--hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    &--visible {
        background-color: vars.$color-dark;
        box-shadow: 0 4px 8px rgba(vars.$color-light, 0.2);
        transform: translateY(0);
        opacity: 1;
    }

    &__container {
        @include mx.flex-center(space-between, center);
        @include mx.container(1440px, 1.5);
    }

    &__logo {
        max-width: 200px;
        width: 100%;
        margin-top: fn.spacing(0.5);

        @media (max-width: 768px) {
            max-width: 132px;
        }
    }

    &__nav {
        list-style: none;
    }
}