// colors
$color-primary: #FF9F00; // #FBC20C ou #ffc107
$color-secondary: #C19A6B;
$color-bg-main: #030913;
$color-bg-secondary: #111;
$color-text-base: #eee;
$color-text-secondary: #bbb;
$color-dark: #000;
$color-light: #fff;